<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: html_header">
</head>
<body>
<header th:replace="fragments :: header_row"></header>
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Policy</h2>
        <ol>
          <li>Home</li>
          <li><a href="policy">Policy</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6">
          <h2>Privacy Policy</h2>
          <h3>Our product so far was build with most of current technology with all native programming languages</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            You can just email us, what kind of app you want to build, send us all your detail. Take sometime to analyze and we will comeback
            to you for an offer.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
          </ul>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

</main>
<footer id="footer" th:replace="fragments :: footer"></footer>
</body>
</html>