<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: html_header"></head>
<body>
<header th:replace="fragments :: header_row"></header>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Maths</h2>
                <ol>
                    <li><a href="">Home</a></li>
                    <li><a href="prime_number">Utilities</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Shortening URL</h2>
                    <p>You can shorten your url freely here</p>
                </div>
            </div>
            <div class="row content">
                <form role="form" class="php-email-form">
                    <div class="col-lg-9">
                        <input type="url" name="urlinput" class="form-control" id="urlinput" placeholder="http://www.google.com"  data-msg="Please Enter URL" />
                        <p>Result: <span id="urloutput"></span></p>
                        <div class="validate"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <button type="submit" onclick="shorturl(this.form)">Generate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section><!-- End About Section -->
</main>
<script src="js/shortener.js"></script>
<footer id="footer" th:replace="fragments :: footer"></footer>
</body>
</html>